.form {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .form {
      flex-direction: row;
    }
  }
  
  .select {
    min-width: 200px;
    width: 100%;
  }
  
  .button {
    flex-shrink: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 64px;
    padding-right: 64px;
  }
  